<!-- This code was based on https://stackoverflow.com/questions/28782074/excel-to-json-javascript-code -->

<input type="file" id="my_file_input" />
<div id='my_file_output'></div>
<br>
<span></span>
<br>
<div id="container"></div>

<script type="text/javascript" src="node_modules\xlsx-style\dist\xlsx.core.min.js"></script>
<script type="text/javascript" src="node_modules\jquery\dist\jquery.min.js"></script>
<script type="text/javascript">
    let oFileIn;

    $(function () {
        oFileIn = document.getElementById('my_file_input');
        if (oFileIn.addEventListener) {
            oFileIn.addEventListener('change', filePicked, false);
        }
    });


    function filePicked(oEvent) {
        // Get file and file name from input
        const oFile = oEvent.target.files[0];
        const sFilename = oFile.name;

        // Create a HTML5 file reader
        let reader = new FileReader();
        reader.onload = setOnloadCallback(oFile);

        // Call setOnloadCallback function
        reader.readAsBinaryString(oFile);
    }

    const setOnloadCallback = (oFile) => {
        return (oFile) => {
            let users = [];
            const data = oFile.target.result;

            // Reading worksheet binaries
            const cfb = XLSX.read(data, { type: 'binary' });
            // Worksheets loop (intern tabs)
            cfb.SheetNames.forEach(function (sheetName) {
                // Get json result by Sheet (inter tab)
                var resultJson = XLS.utils.sheet_to_json(cfb.Sheets[sheetName]);
                // Merge the second array into the first one
                Array.prototype.push.apply(users, resultJson);
            });

            const usersJson = JSON.stringify({ list: users });

            // POST to save in intern file app/data/data.json
            $.post("/users", { usersJson }, function (result) {
                $("span").html(result);

                // Show a button to download data.json
                showDownloadButton(users, "data.json");
            });
        };
    }

    const showDownloadButton = (exportObj, exportName) => {
        //encoding data to download through button
        var data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(exportObj));

        //creating button in HTML
        var downloadButton = document.createElement('a');
        downloadButton.href = 'data:' + data;
        downloadButton.download = exportName;
        downloadButton.innerHTML = 'Download JSON';
        var container = document.getElementById('container');
        container.appendChild(downloadButton);
    }
</script>